<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Info"
      internalLogFile="/root/repos/_logs/internal-nlog-Console.txt">

  <extensions>
    <add assembly="NLog.Targets.Seq" />
	  <add assembly="NLog.Telegram.Format" />
  </extensions>

  <targets async="true">
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/logs/log.txt"
            archiveAboveSize="1000000"
            maxArchiveFiles="5"
            maxArchiveDays="3"
            archiveEvery="Day"
            archiveOldFileOnStartup="true"
            deleteOldFileOnStartup="true"
            archiveNumbering="DateAndSequence"
            enableArchiveFileCompression="true" />
    <target name="logconsole" xsi:type="ColoredConsole"
            encoding="UTF-8"
            layout="[ ${longdate} ${level:uppercase=true} ] ${logger}: ${message}"
            header="${machinename}"
            footer="${machinename}"
            useDefaultRowHighlightingRules="true"
            errorStream="false"
            enableAnsiOutput="true"
            detectConsoleAvailable="true"
            detectOutputRedirected="true"></target>
    <target name="seq"
            xsi:type="BufferingWrapper"
            bufferSize="1000"
            flushTimeout="2000"
            slidingTimeout="false">
      <target xsi:type="Seq" serverUrl="xxx" apiKey="xxx" >
        <property name="MachineName" value="${machinename}" />
        <property name="Source" value="${logger}" />
        <property name="Project" value="PaspiBME280" />
      </target>
    </target>
	  <target xsi:type="Telegram"
			  name="telegramTarget"
			  layout="${machinename}: ${message}"
			  botToken="xxx"
			  chatId="xxx"
            />  
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="seq" />
	<logger name="*" minlevel="Info" writeTo="telegramTarget" />  
  </rules>
</nlog>